.topicos {
    display: grid;
    flex-wrap: wrap;
    gap: 20px; 
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    margin-top: 40px;
    padding:20px;
}
.card {
  background: rgba(20, 20, 20, 0.9);
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 220px;
  width: 220px;
}
.img{
    width: 100%;
    height: 180px;
    overflow: hidden;
}
.img img{
  width: 100%;
  height: 180px;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.card:hover .img img{
  transform: scale(1.1);
}
.card-content {
  background: #0a0202;
  padding:15px;
  text-align: center;
  display:flex; 
  align-items: center;
  justify-content: center;
  flex: 1;
}

.card-content h3 {
  font-size: 16px;
  margin: 0;
  color: black;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(153, 32, 32, 0.6);
}
.saiba-card {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 30px rgba(0,0,0,0.4);
    transition: all 0.3s ease;
}

.saiba-card:hover {
    transform: scale(1.02);
    box-shadow: 0 20px 40px rgba(143, 34, 30, 0.4);
}

.saiba-card img {
    width: 100%;
    height: auto;
    display: block;
}
#saiba{
    padding: 80px 20px;
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
#saiba h2{
    margin-bottom:40px;
    font-size:2.5rem;
}
@media screen and (max-width:768px){

    .topicos{
        gap: 25px;
    }

}

@media screen and (max-width:450px){

    .topicos{
        flex-direction:column;
        align-items:center;
    }

}