.talvez img{

    width: 300px;
    height: 200px; 
    object-fit: cover;
    border-radius: 30px;
    border: 8px solid black;
    transition: 0.3s;

}

.talvez {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 40px; 
    margin-top: 40px;
}