@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
  font-family: "Open Sans", sans-serif;
  margin: 0;        
  padding: 0;       
  box-sizing: border-box;
  
}

body{
  background: #0f0f0f;
  color:rgb(255, 241, 240);
  transition:background-color .3s ease, color .3s ease;
}

html{
  scroll-behavior: smooth;
}

section{
  padding: 80px 8%;
  scroll-margin-top:80px;
}

main{
  margin-top: 100px;
}

.btn-default{
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(103, 30, 170);
  border-radius: 12px;
  padding: 10px 14px;
  font-weight: 600;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
  cursor:pointer;
  transition: all .3s ease;
  text-decoration: none;
  color: white
}

.btn-default:hover{
  background-color: rgb(166, 142, 187);
  box-shadow: 0px 0px 15px 4px rgba(221, 204, 236, 0.5);
  transform: scale(1.05);
}

.social-midia-buttons{
  display: flex;
  gap: 18px;
}

.social-midia-buttons a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 40px;
  background-color: rgb(103, 30, 170);
  border-radius: 10px;
  text-decoration: none;
  color: #edeaea;
  box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.1);
  transition:all .3s ease;

}

.social-midia-buttons a:hover{
  box-shadow: 0px 0px 12px 8px rgba(221, 204, 236, 0.5);
  background-color: rgb(166, 142, 187);
  transform: translate(-3px);
}


#toggleTema{
    position: fixed;
    top:20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color:rgb(103, 30, 170);
    transition:all .3s ease;
    z-index: 999;
}

#toggleTema:hover{
    transform: scale(1.15);
    box-shadow: 0px 0px 12px 8px rgba(221, 204, 236, 0.5);
    background-color: rgb(166, 142, 187);
}

h2{

  font-size:2.3rem;

  margin-bottom:40px;

  text-align:center;

  position:relative;

}

h2::after{

  content:'';

  display:block;

  width:90px;
  height:4px;

  background:rgb(143,34,30);

  margin:15px auto 0;

  border-radius:2px;

}

footer{
    text-align: center;
    padding: 10px 10px;
    background: #0a0a0a;
    color: #ccc;
    font-size: 14px;
    border-top: 2px solid rgb(143,34,30);
    margin-top: 40px;
}

footer p{
    margin: 4px 0;
}

footer a{
    color: rgb(182,84,84);
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}
