/*Css para o modo claro, ja que algumas cores precisam ser diferentes no branco*/

body.claro{
    background: rgb(216, 212, 212);
    color: black;
}


body.claro a{
    color: rgb(46, 46, 114);
}

body.claro p{
  color:#0f0f0f;
}

body.claro h2{
  color:rgb(95, 15, 15);
}

body a{
    color: rgb(75, 17, 17);
}

body.claro .btn-default{
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(182, 84, 84);
  border-radius: 12px;
  padding: 10px 14px;
  font-weight: 600;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
  cursor:pointer;
  transition: background-color .3s ease;
}

body.claro .social-midia-buttons a{ /*botôes, deixei vermelho pra combinar, roxo tava muito escuro e aleatório no modo claro, mas se quiser pode mudar*/
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 40px;
  background-color:  rgb(182, 84, 84) ;
  border-radius: 10px;
  text-decoration: none;
  color: #1d1d1d;
  box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.1);
  transition:box-shadow .3s ease;

}
